*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #333;
}
body{
    background-color: #ddd;
    margin:25px;
}
.section1{
    /* background-color: red; */
    display: grid;
    grid-gap: 10px;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1.5fr 1.5fr 1.9fr;
}
.items{
    background-color: #ddd;
    box-shadow: 0px 1px 5px rgba(104, 104, 104, 0.8);
}
.item1, .item2, .item3, .item4{
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
.item1:hover, .item2:hover, .item3:hover, .item4:hover{
    border:2px solid #333;
}

.item5{
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    background-image: url("img/pic.png");
    background-position: center;
    background-size: cover;
    padding:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.item5 h1{
    color:#fff;
    font-size:45px;
}
.item5 p{
    color: #fff;
    font-size: 20px;
}
.item5 a{
    background-color: #fff;
    margin-top: 15px;
    padding:7px 15px;
    color:#333;
    align-self: flex-start;
}
.item5 a:hover{
    background-color: #333;
    color: #ddd;
    border: 2px solid #ddd;
}
.item6, .item7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:30px;
}
.item6 h3, .item7 h3{
    font-size: 20px;
}
.item6 h2, .item7 h2{
    font-size: 45px;
    font-weight: 300;
}
.item6 a, .item7 a{
    background-color: #333;
    margin-top: 15px;
    padding:7px 15px;
    color:#ddd;
}
.item8, .item9, .item10, .item11{
    padding:30px;
    display: grid;
    /* justify-content: center; */
    align-items: center;
}
.item8 i, .item9 i, .item10 i, .item11 i{
    justify-self: center;
    font-size: 48px;
    color:#333 ;
}
.item8 h3, .item9 h3, .item10 h3, .item11 h3{
    justify-self: center;
    font-size: 22px;
}
.item8 p, .item9 p, .item10 p, .item11 p{
    text-align: center;
    font-size: 15px;
}